manifest {
    defaultBranch = "docker"
    name = 'dacapo-nextflow'
    author = 'David Ackerman'
    homePage = 'https://github.com/davidackerman/dacapo-nextflow'
    description = 'nextflow scripts for dacapo'
    mainScript = 'dacapo.nf'
    nextflowVersion = '>=20.10.0'
    version = '0.1.0'
}

profiles {
    lsf {
        process {
            executor = 'lsf'
            clusterOptions = params.lsf_opts
        }
        docker.enabled = false
        singularity.enabled = true
    }
}

